@charset "utf-8";

/* html這個把大致上的版面文字都用完再加上 */
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, "微軟正黑體" ,sans-serif;
}

img{
    vertical-align: bottom;
}

/*----------------------------- helper -----------------------*/

.container{
    max-width: 1200px;
    box-sizing: border-box;
}

.container-md{
    max-width: 800px;
    box-sizing: border-box;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

/* ------------------ header --------------- */

.header{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn-xmark, .header-foot {
    display: none;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
}


.header-head {
    /* background-color: bisque; */
    width: 80px;
}

/* .header-body { */
    /* background-color: bisque;} */

.header-img {
    max-width: 100%;
    height: auto;

}

.header-ul{
    display: flex;
    background-color: rgba(0,0,0,.7);
    padding: .5rem 1rem;
    border-radius: 30px;

}

.header-li{
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    transition-duration: .3s;
}

.header-link:hover{
    color: #cf7688;
}

/* ------------banner------------------------- */

.banner{
    background-image: linear-gradient(135deg,#cf7688, #f4ba54);
    color: #fff;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0% 100%);
}

.banner-container{
    display: flex;
    align-items: center;
}

.banner-head, .banner-body{
    padding-left: 1rem;
    padding-right: 1rem;
}
/* 只有首頁的head需要 */
.banner-index .banner-head{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.banner-index .banner-body{
    width: 60%;
    position: relative;
}

.banner-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
.banner-small{
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.banner-subtitle {
    font-size: 1.75rem;
    line-height: 1.5;
    opacity: .6;
    margin-bottom: 2rem;
}
/* order-1 需要先在index裡head 改成flex才能使用 */
.banner-ul{
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    opacity: .3;
    order: -1;
    margin-bottom: 4rem;
}

/* 第一行不動 後兩個加間距 */
.banner-li + .banner-li{
    margin-left: 1rem;
}

.banner-desc {
    line-height: 1.6;
}
/* 按鈕上方的間距 */
.banner-btns {
    margin-top: 2rem;
}

.banner-btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: solid 2px #fff;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 5px;
}

.banner-btn:hover{
    background-color: rgba(255, 255, 255, .7);
    transition-duration: 2s;
}

.banner-img{
    max-width: 100%;
    height: auto;
}

.banner-img-pad, .banner-img-mobile {
    position: absolute;
}

.banner-img-mobile{
    left: 0;
    bottom: 5rem;
}

.banner-img-pad{
    right: 1rem;
    bottom: -2rem;
}

.banner-img-desktop{
    margin-left: 4.5rem;
}

/* ---------footer-------- */

.footer{
    background-color:#666;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7rem 1rem 1rem;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.footer-ul {
    display: flex;
}

.footer-li {
    margin-left: 1rem;
}

/* 右邊 */
.footer-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition-duration: 3s;
}

.footer-link:hover {
    color: #cf7688;
}

/* 左邊 */
.footer-img-logo {
    max-width: 40px;
    height: auto;
    margin-bottom: .5rem;
}

.footer-desc {
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
}

/* ----------aside---------- */

.aside {
    position: fixed;
    right: 1rem;
    bottom: 15rem;
    z-index: 10;
}

.aside-link-top {
    font-size: 3rem;
}

.aside-link {
    color: rgba(0,0,0,.2);
    transition-duration: 3s;
}

.aside-link:hover {
    color: rgba(0,0,0,.5)
}
